@model CustomerViewModel

@{
    ViewData["Title"] = "Customer Login";
}

<div class="text-center">

    <form id="login-form">
        @Html.LabelFor(m => m.Firstname)
        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", @placeholder = "First name", @required = "required" })
        @Html.LabelFor(m => m.Lastname)
        @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control", @placeholder = "Last name", @required = "required" })
        <input type="submit" value="Login" class="form-control" />
    </form>
</div>
