@model CustomerViewModel

@{
    ViewData["Title"] = "Customer Login";
}

<div class="text-center">

    <form id="login-form">

        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" class="form-control" />

        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" class="form-control" />

        <span>
            <input type="submit" value="Login" class="form-control" />
            <input type="submit" value="Create" class="form-control" />
        </span>

    </form>
</div>
