@model OrdersViewModel

@{
    ViewData["Title"] = "All Orders";
}

@{
    if (Model.CustomerOrders.Count () == 0) {
        <h2>@Model.CustomerName has no orders</h2>
    }

    else {

        <h2>Orders for @Model.CustomerName:</h2>

        await Html.RenderPartialAsync ("_DisplayCustomerOrders");
    }
}

