@foreach (Project1.Business.CustomerOrderModel order in Model.CustomerOrders) {

    <div style="border-bottom: 1px solid;">
        <h4>Order #@Html.DisplayFor(m => order.OrderNumber)</h4>
        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var line in order.OrderLine) {
                    <tr>
                        <td>@Html.DisplayFor(m => line.Product.Name)</td>
                        <td>@Html.DisplayFor(m => line.Product.DisplayPrice)</td>
                        <td>@Html.DisplayFor(m => line.ProductQuantity)</td>
                    </tr>
                }
            </tbody>

        </table>
        <h5>Order total: @Html.DisplayFor(m => order.TotalPrice)</h5>
    </div>
    <br />
}
