<div class="text-center">
    <div class="alert alert-danger" role="alert" id="error-banner" style="display: none;"></div>
    <div class="alert alert-warning" role="alert" id="warning-banner" style="display: none;"></div>
    <div class="alert alert-success" role="alert" id="success-banner" style="display: none;"></div>
</div>
